<div class="container">
  <p>正常に登録されました。</p><br>
  <div class="db">
    <p class="big">現在の登録情報 <%= @user_num%>人</p><p class="span"> ※宛名はIDで表示されていますが、アカウント名で送られます。</p>
    <% @users.each do |user| %>
    <p><%= user.name %><%= user.atena %></p>
    <p><%= user.text %></p>
    <p>-------------------------------------------------------------------------</p>
    <br>
    <% end %>
  </div>
</div>