/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 h1,h2,h3,h4,h5,h6,p {
  padding: 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

 * {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

header {
  height: 150px;
  text-align: center;
  margin: 30px 0 30px 0;
  color: black;
  border-bottom: 2px solid black;
}


.header_list {
  margin: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header_menu {
  display: flex;
  justify-content: space-around;
}

.header_list p {
  font-size: 20px;
}

.link:link, .link:visited, .link:hover, .link:active {
  color: black;
}

.container {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 100px;
}

.form {
  margin: 15px auto;
  display: flex;
  justify-content: space-around;
  width: 900px;
}


.content {
  margin: 0 20px;
}
.title {
  font-size: 20px;
}

.row {
  font-size: 15px;
}

#send_info_atena {
  width: 160px;
  margin: 0 20px;
}

#name, #text {
  width: 400px;
  font-size: 20px;
}

.cc {
  display: flex;
  justify-content: center;
}

.white {
  color:white;
  display: none;
}

.btn {
  display       : inline-block;
  border-radius : 14%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 32px;   /* 余白       */
  background    : #999999;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #999999;    /* 枠の指定 */
}
.btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #999999;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.header_btn {
  margin: 0 20px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 12pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #000000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 5px #666666;  /* 影の設定 */
  border        : 2px solid #000000;    /* 枠の指定 */
}
.header_btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000000;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.btn2 {
  margin-top: 70px;
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #000000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000000;    /* 枠の指定 */
}
.btn2:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000000;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.blind {
  margin-top: 50px;
}

.big{
  font-size: 30px;
  font-weight: bold;
  border-bottom: solid 3px black;
  width: 50%;
  margin: 20px auto 15px auto;
}

.line {
  margin-top: 30px;
}

.tate {
  display: flex;
  align-items: center;
}

.span {
  margin-bottom: 50px;
}